/shelf/
/workspace.xml
.DS_Store
/node_modules
/build
/dist
/bin
/minkowski
/deepnest-*win32-x64
/output
git_token.rtf
.idea
*.zip
.python-version
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
